# Gradle
.gradle/
**/.gradle/

# Gradle distributions
android/gradle-*-bin.zip
android/gradle-*/

# Build output
**/build/
**/outputs/

# Android Studio
.idea/
*.iml

# Local configuration
local.properties